<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DebugDemo/src/DebuggingDemo/debugging/bc2soln_debug_prob/DebugDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="DebuggingDemo.debugging.bc2soln_debug_prob.DebugDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DebugDemo"/>
</launchConfiguration>
